<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        FruitVision AI
        {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm">

        <div class="container">

            <a class="navbar-brand fw-bold" href="/">
                🍎 FruitVision AI
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                            About
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <!-- Flash Message -->
    <div class="container mt-3">

        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}

        <div class="alert alert-warning">

            {{ message }}

        </div>

        {% endfor %}

        {% endif %}
        {% endwith %}

    </div>

    <!-- Content -->
    <main class="container py-4">

        {% block content %}
        {% endblock %}

    </main>

    <!-- Footer -->
    <footer class="bg-light border-top py-3 mt-5">

        <div class="container text-center">

            <small>

                © 2026 FruitVision AI
                <br>
                Transfer Learning Xception

            </small>

        </div>

    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>